/* CSS RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.border {
    border: 1px dashed black;
}

.debug {
    min-height: 50px;
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/* HEADER top */

header {
    background-color: #A1DAE9;
    padding-bottom: 2px;
}

.header-top {
    display: flex;
    padding: 10px 350px;

}

.logo,
.link,
.login {

    padding: 16px;
    vertical-align: middle;
    font-size: small;
    background-color: #E4A200;
}

.link {
    text-align: center;
    flex-grow: 1;
}

.logo,
.login {
    min-width: 250px;
}

.login {
    text-align: end;
}

/* HEADER bottom */

.header-bottom {
    padding: 50px 500px;
    background-color: #000191;
}

.content {
    background-color: #FF7AF3;
    margin: auto;
    max-width: 900px;
    height: 400px;
    border: 1px dashed black;
    border-radius: 5px;

}

/* MAIN */

.section {
    display: flex;
    padding: 50px;
    justify-content: center;
}

.big {
    width: 720px;
    height: 500px;
    background-color: #0093FF;
    border: 1px dashed black;
}

.small {
    width: 480px;
    height: 500px;
    background-color: #FFBDCA;
    border: 1px dashed black;
}

.reverse {
    flex-direction: row-reverse;
    background-color: #D3D3D3;
}

.bigger {
    width: 1200px;
    height: 900px;
    background-color: #008D00;
    border: 1px dashed black;
}

.gray {
    background-color: #D3D3D3;
}

.left {
    width: 360px;
    height: 580px;
    background-color: #FF797C;
}

.right {
    width: 830px;
    height: 580px;
    background-color: #00B6AB;
    display: flex;
}

.right div {
    width: 25%;
}

.section.bottom {
    background-color: #22272A;
}

/* FOOTER */

footer {
    background-color: #22272A;
    padding-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 80px;
    margin: auto;
    background-color: #35FFD1;
    border-top: 1px solid white;

}

.logo-bottom,
.button {
    width: 70px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #FFB2C3;
    text-align: center;
    vertical-align: middle;
}